@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* @import url(https://fonts.googleapis.com/css?family=Tangerine); */


/*------Website Theme------*/

:root {
    --hue-1: 257;
    --hue-2: 47;
    --main-color-1: hsl(var(--hue-1), 100%, 60%);
    /*  main-color-1 is the color of the text and main-color-2 is the color of the background*/
    --main-color-dark-1: hsl(var(--hue-1), 76%, 30%);
    /* main-color-dark-2 is the color of the text and main-color-dark-2 is the color of the background*/
    --main--color-2: hsl(var(--hue-2), 100%, 61%);
    /*main-color-2 is the color of the text and main-color-2 is the color of the background*/
    --main--color-2-dark-2: hsl(var(--hue-2), 82%, 55%);
    /* main-color-2-dark-2 is the color of the text and main-color-2-dark-2 is the color of the background*/
    --section-padding: 9rem;
    /*section-padding is the padding of the section*/
}

body {
    --bg--color: hsl(var(--hue-1), 100%, 97%);
    /*hsl is a function that takes 3 parameters (hue, saturation, lightness) var is  a variable that is used to store a value hue is the color of the background and saturation is the amount of color and lightness is the amount of lightness*/
    --bg--color-1: hsl(var(--hue-1), 100%, 97%);
    /* bg-color-1 is the color of the text and bg-color-1 is the color of the background*/
    --bg--color-2: #fff;
    /* bg-color-2 is the color of the text and bg-color-2 is the color of the background*/
    --bg--color-3: hsl(var(--hue-1), 100%, 98%);
    /*bg-color-3 is the color of the text and bg-color-3 is the color of the background*/
    --bg--color-transparent: rgba(255, 255, 255, 0.6);
    /* bg-color-transparent is the color of the text and bg-color-transparent is the color of the background*/
    --heading-color: hsl(var(--hue-1), 63%, 24%);
    /* heading-color is the color of the text and heading-color is the color of the background*/
    --text-color: hsl(var(--hue-1), 17%, 63%);
    /* text-color is the color of the text and text-color is the color of the background*/
}

body.dark {
    /* --bg--color: hsl(var(--hue-1), 5%, 1%);cernii */
    --bg--color: hsl(var(--hue-1), 15%, 19%);
    --bg--color-1: hsl(var(--hue-1), 21%, 11%);
    --bg--color-2: hsl(var(--hue-1), 23%, 19%);
    --bg--color-3: hsl(var(--hue-1), 23%, 24%);
    --bg--color-transparent: hsl(var(--hue-1), 23%, 19%, 0.6);
    --heading-color: hsl(var(--hue-1), 100%, 100%);
    --text-color: hsl(var(--hue-1), 14%, 51%);
}

body.dark .st1 {
    fill: hsl(var(--hue-1), 1%, 1%);
}


/* body.dark .shape.square {
    opacity: 0.07;
} */

body.dark .toggle-btn {
    background-color: var(--bg--color-3);
}

body.dark .toggle-btn:hover {
    background-color: brightness(110%);
    /* //is transparent; */
}

body.dark .about-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s transform;
    width: 100%;
    height: 100%;
    background: var(--text-color);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

body.dark .srv-card h3 {
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.05rem;
}

body.dark .form-input:hover {
    filter: brightness(110%);
}

body.dark button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

body.dark button.learn-more {
    width: 12rem;
    height: auto;
}

body.dark button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: var(--heading-color);
    border-radius: 1.625rem;
}

body.dark button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: rgb(17, 17, 17);
}

body.dark button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
}

body.dark button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid rgb(0, 0, 0);
    border-right: 0.125rem solid rgb(0, 0, 0);
    transform: rotate(45deg);
}

body.dark button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: var(--main-color-1);
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

body.dark button:hover .circle {
    width: 100%;
}

body.dark button:hover .circle .icon.arrow {
    background: rgb(0, 0, 0);
    transform: translate(1rem, 0);
}

body.dark button:hover .button-text {
    color: var(--text-color);
}

body.dark .visitor {
    margin: auto;
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--text-color);
}

body.dark .visitor-p {
    padding-left: 44px;
    padding-top: 18px;
    font-size: 5rem;
    font-weight: 900;
    color: var(--text-color);
}


/*------General Style------*/

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    /* width: 100%; */
    /* height: 100%; */
}


/* position: fixed;
width: 100%;
height: 100%;
overflow: hidden; */

body {
    overflow-x: hidden;
    background-color: var(--bg--color);
    font-family: "Poppins", sans-serif;
    transition: 0.8s background-color;
}

body.stopScroll {
    height: 100%;
    overflow: hidden;
}

::selection {
    background-color: hsla(var(--hue-1), 100%, 60%, 0.9);
    color: #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


/*------Reusable CSS Code------*/

.container {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; */
    position: relative;
    width: 100%;
    max-width: 75rem;
    padding: 0 0.5rem;
    margin: 0 auto;
}

.container-skills {
    padding-bottom: 100px;
    position: relative;
    width: 100%;
    max-width: 75rem;
    /* padding: 0 1.5rem; */
    margin: 0 auto;
}

.logo {
    margin-right: 1.5rem;
    font-family: "Abril Fatface", cursive;
    font-size: 1.5rem;
    color: var(--heading-color);
    letter-spacing: 1px;
    transition: 0.3s;
}

.logo span {
    color: var(--main-color-1);
}

.sub-heading {
    font-size: 0.85rem;
    color: var(--hea ding-color);
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border-left: 3px solid red;
    padding: 0.13rem 0.75rem;
    margin-bottom: 1rem;
    transition: 0.5s color;
}

.heading {
    color: var(--heading-color);
    font-size: 3rem;
    font-family: "Abril Fatface", cursive;
    font-weight: 400;
    line-height: 1.3;
    transition: 0.5s color;
}

.text {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.5;
    margin: 2rem 0;
    line-height: 2.3;
    transition: 0.5s color;
}

.section {
    position: relative;
    padding: var(--section-padding) 0;
}

.cta {
    margin-top: 3.5rem;
    display: flex;
    align-items: center;
}

.cta .animated-button9 {
    margin-right: 1.5rem;
}

.animated-button9 {
    background: linear-gradient(-30deg, #0b0b3d 50%, #08082b 50%);
    padding: 0.9rem 1.75rem;
    display: inline-block;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    overflow: hidden;
    color: #d4d4f7;
    font-size: 20px;
    letter-spacing: 2.5px;
    text-align: center;
    min-width: 125px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.animated-button9::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #e3e3e3;
    opacity: 0;
    -webkit-transition: 0.3s opacity ease-in-out;
    transition: 0.5s opacity ease-in-out;
}

.animated-button9:hover::before {
    opacity: 0.3;
}

.animated-button9 span {
    position: absolute;
}

.animated-button9 span:nth-child(1) {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: -webkit-gradient (linear, right top, left top, from(rgba(8, 8, 43, 0)), to(#2626d9));
    background: linear-gradient(to left, rgb(186, 186, 253), rgb(186, 186, 253));
    -webkit-animation: 2s animateTop linear infinite;
    animation: 20s animateTop linear infinite;
}

@keyframes animateTop {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.animated-button9 span:nth-child(2) {
    top: 0px;
    right: 0px;
    height: 100%;
    width: 2px;
    background: -webkit-gradient (linear, left bottom, left top, from(rgba(8, 8, 43, 0)), to(#2626d9));
    background: linear-gradient(to top, rgb(186, 186, 253), rgb(186, 186, 253));
    -webkit-animation: 2s animateRight linear -1s infinite;
    animation: 20s animateRight linear -1s infinite;
}

@keyframes animateRight {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

.animated-button9 span:nth-child(3) {
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: -webkit-gradient (linear, left top, right top, from(rgba(8, 8, 43, 0)), to(#2626d9));
    background: linear-gradient(to right, rgba(8, 8, 43, 0), #2626d9);
    -webkit-animation: 2s animateBottom linear infinite;
    animation: 20s animateBottom linear infinite;
}

@keyframes animateBottom {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

.animated-button9 span:nth-child(4) {
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background: -webkit-gradient (linear, left top, left bottom, from(rgba(8, 8, 43, 0)), to(#2626d9));
    background: linear-gradient(to bottom, rgba(8, 8, 43, 0), #2626d9);
    -webkit-animation: 2s animateLeft linear -1s infinite;
    animation: 20s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

.triangle {
    width: 95px;
    /* opacity: 0.3; */
}

.dots {
    width: 112px;
}

.square {
    width: 51px;
}


/*------Navbar Styling------*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: 0.5s;
    /* background-color: var(--text-color); */
}

header.scrolled {
    background-color: var(--bg--color-transparent);
    box-shadow: 0px 5px 20px 0.1px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

nav.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

header .logo {
    height: 120px;
    line-height: 120px;
}

header.scrolled .logo {
    height: 80px;
    line-height: 80px;
}

.links {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.links ul {
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-links {
    position: relative;
    display: inline-block;
    margin: 0 1rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    color: var(--text-color);
    font-weight: 500;
    opacity: 0.9;
    transition: 0.5s;
}

.nav-links::after {
    content: "";
    position: absolute;
    width: 0;
    height: 10px;
    border-radius: 5px;
    background-color: var(--main-color-1);
    bottom: 0px;
    left: -5px;
    z-index: -1;
    opacity: 0;
    transition: 0.5s;
}

.nav-links:hover,
.nav-links.active {
    color: var(--heading-color);
}

.nav-links:hover::after,
.nav-links.active::after {
    width: 100%;
    opacity: 0.2;
}

.toggle-btn {
    color: var(--heading-color);
    min-width: 40px;
    height: 40px;
    background-color: var(--bg--color-2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.9);
    transition: 0.5s;
    /* margin-right: 1rem; */
}

.toggle-btn:hover {
    filter: brightness(90%);
}

.hamburger {
    display: none;
    padding: 1rem 0;
    height: 12px;
    width: 25px;
    box-sizing: content-box;
    cursor: pointer;
    position: relative;
}

.hamburger .bar {
    width: 100%;
    height: 2px;
    background-color: var(--heading-color);
    border-radius: 3px;
    position: absolute;
}

.hamburger .bar:first-child {
    top: 1rem;
    transition: top 0.2s 0.15s, transform 0.3s;
}

.hamburger .bar:last-child {
    bottom: 1rem;
    transition: bottom 0.2s 0.15s, transform 0.3s;
}

body.open .hamburger .bar:first-child {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    transition: top 0.2s, transform 0.3s 0.1s;
}

body.open .hamburger .bar:last-child {
    bottom: 50%;
    transform: translateY(50%) rotate(45deg);
    transition: bottom 0.2s, transform 0.3s 0.1s;
}


/*------Showcase Area Styling------*/

.showcase-grid .container {
    display: grid;
    grid-template-columns: 1.05fr 1fr;
    align-items: center;
}

.showcase-area {
    padding: 100px 0;
    width: 100%;
    /*         overflow: hidden; */
    position: relative;
}

.showcase-area .container {
    display: grid;
    grid-template-columns: 1fr 555px;
    height: calc(100vh - 120px);
    height: 600px;
    align-items: center;
}

.showcase-area .sub-heading {
    margin-bottom: 0.7rem;
}

.showcase-area .heading {
    font-size: 3.5rem;
}

.showcase-area .text {
    margin: 0.8rem 0;
}

.showcase-image {
    position: relative;
    width: 100%;
    min-height: calc(100% + 120px);
    /*120px is the height of the navbar and 100% is the height of the showcase image */
    background-image: linear-gradient( 45deg, rgb(186, 186, 253) 0%, hsl(242deg 61% 76%) 11%, hsl(243deg 48% 65%) 22%, hsl(245deg 39% 56%) 33%, hsl(246deg 38% 47%) 44%, hsl(248deg 45% 39%) 56%, rgb(52, 38, 120) 67%, hsl(251deg 62% 24%) 78%, hsl(253deg 72% 18%) 89%, hsl(254deg 83% 12%) 100%);
    margin-top: 108px;
    border-radius: 80px 100px 80px 200px;
}

.showcase-image .person {
    width: 65%;
    position: absolute;
    bottom: 100px;
    left: 50%;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    justify-self: center;
    transform: translate(-50%);
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    animation: person_animation 8s ease-in-out infinite 1s;
    box-shadow: inset 10px 10px 10px 40px rgba(0, 0, 0, 0.3);
    order: 1;
}

@keyframes person_animation {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.showcase-area .circle {
    position: absolute;
    width: 190px;
    left: 0;
    top: 85%;
    transform: translate(-50%, -50%);
}

.showcase-area .dots {
    position: absolute;
    left: 100%;
    top: 35%;
    transform: translate(-50%, -50%);
}

.showcase-area .square {
    width: 150px;
    position: absolute;
    left: 4.5%;
    bottom: -90px;
    margin-top: 5%;
    transform: translate(-50%, -50%);
}


/*------ About section Styling-----*/

.about .container {
    display: grid;
    grid-template-columns: 1.05fr 1fr;
    align-items: center;
}

.about .text {
    margin: 3rem 0 4rem;
}

.about-grid {
    display: grid;
    grid-template-columns: 190px 190px;
    grid-template-rows: 190px 190px;
    justify-content: center;
    column-gap: 2.5rem;
    row-gap: 100px;
    margin-right: 2rem;
    position: relative;
}

.about-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s transform;
    width: 100%;
    height: 100%;
    background: rgb(223, 225, 235);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transition: 0.5s color;
}

.about-card:nth-child(1) {
    border-radius: 40px 40px 5px 40px;
}

.about-card:nth-child(2) {
    margin-top: 50px;
    border-radius: 40px 40px 40px 5px;
}

.about-card:nth-child(3) {
    margin-top: -50px;
    border-radius: 40px 5px 40px 40px;
}

.about-card:nth-child(4) {
    border-radius: 5px 40px 40px 40px;
}

.icon {
    width: 60px;
}

.st0 {
    fill: #babbc9;
    transition: 0.5s fill;
}

.st1 {
    fill: #3d44a8;
    transition: 0.5s fill;
}

.st2 {
    fill: var(--heading-color);
    transition: 0.3s;
    transition: 0.5s fill;
}

.about-card h3 {
    color: var(--heading-color);
    font-weight: 600;
    font-size: 1rem;
    margin-top: 1rem;
    letter-spacing: 0.3px;
    transition: 0.5s color;
}

.about-card:hover {
    transform: scale(1.1);
    /* vipuklast' transform: scale(1.1); */
}

.about-card:hover .st2 {
    fill: var(--main-color-1);
}

.about-grid::before {
    content: "";
    position: absolute;
    width: 210px;
    height: 210px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 15px solid var(--text-color);
    z-index: -1;
    opacity: 0.07;
}

.about .triangle {
    position: absolute;
    left: 90%;
    top: 27%;
    transform: translate(-50%, -50%);
}


/*------canvas-----*/

.showcase-grid .container {
    display: grid;
    grid-template-columns: 1.05fr 1fr;
    align-items: center;
}


/* .canvas1 {
width: 1000px;
margin: 0;
overflow: hidden;
} */

.first-one {
    width: 100%;
    margin: 0;
    overflow: hidden;
}


/*------Skills Section Styling------*/


/* 
.skills .container {
display: grid;
grid-template-columns: 1.05fr 1fr;
align-items: center;
} */

.skills {
    padding-bottom: 56px;
    overflow: hidden;
}

.skills-box {
    background-color: var(--bg--color-2);
    padding: 5rem 6rem;
    border-radius: 20px;
    width: 100%;
    /* padding-bottom: 50px; */
    position: relative;
    transition: 0.5s background-color;
}

.box-desc {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    column-gap: 2rem;
}

.skills-wrap {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    margin-top: 2rem;
    justify-content: space-between;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sk-progress {
    width: 150px;
    height: 150px;
    position: relative;
}

.sk-progress svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
}

.sk-progress svg circle {
    fill: var(--bg--color-3);
    stroke: var(--main-color-1);
    stroke-width: 5px;
    stroke-dasharray: 426;
    stroke-dashoffset: 426;
    stroke-linecap: round;
}

@keyframes progress {
    to {
        stroke-dashoffset: var(--target);
    }
}

.counter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--heading-color);
    z-index: 1;
    transition: 0.5s color;
}

.counter span {
    font-size: 2.45rem;
}

.sk-title {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--heading-color);
    transition: 0.5s color;
}

.skills .dots {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.skills .square {
    position: absolute;
    width: 150px;
    left: 75%;
    top: 100%;
    transform: translate(-50%, -50%);
}


/*------ mouse-scroller------- */


/*------------- Services Section Styling------*/

.services .container {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    column-gap: 6rem;
    align-items: center;
}

.milestones {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    justify-content: flex-start;
}

.milestones h2 {
    color: var(--main-color-1);
    font-size: 1.3rem;
    transition: 0.5s color;
}

.milestones h2 span {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-right: 0.1rem;
    transition: 0.5s color;
}

.milestones h5 {
    color: var(--heading-color);
    line-height: 0.9;
    font-weight: 500;
    font-size: 0.95rem;
}

.services-grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 4.4rem;
}

.srv-card {
    background-color: var(--bg--color-2);
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 300px;
    width: 320px;
    height: 254px;
    background: rgb(223, 225, 235);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transition: 0.5s background-color;
}

.srv-card .text {
    margin: 0.7rem 0;
    font-size: 13px;
}

.visitor {
    margin: auto;
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--heading-color);
}

.visitor-p {
    padding-left: 44px;
    padding-top: 18px;
    font-size: 5rem;
    font-weight: 900;
    color: var(--heading-color);
}

.srv-card:nth-child(2) {
    transform: translateY(2.2rem);
}

.srv-card:nth-child(3) {
    transform: translateY(-2.2rem);
}

.services-grid::before {
    content: "";
    position: absolute;
    width: 250px;
    height: 250px;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
    border: 15px solid rgb(52, 38, 120);
    z-index: -1;
    opacity: 0.07;
}

.services .triangle {
    top: 100%;
    left: 30%;
    position: absolute;
    transform: translate(-50%, -100%);
}

.srv-card h3 {
    color: var(--heading-color);
    font-weight: 500;
    font-size: 1.05rem;
    transition: 0.5s color;
}


/* new btn */

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: 0.85rem;
    font-family: inherit;
    min-width: revert;
}

button.learn-more {
    width: 12rem;
    height: auto;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: var(--heading-color);
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: rgb(255, 255, 255);
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: var(--bg--color-1);
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: var(--bg--color-1);
}


/*----------------- Portfolio Section Styling -----------------*/

.portfolio {
    padding-top: 0;
}

.portfolio .container {
    transition: 0.4s;
}

.portfolio-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.portfolio-title {
    padding-bottom: 1rem;
}

.filter-btn {
    display: inline-block;
    color: var(--heading-color);
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: 0.4px;
    margin-left: 1.3rem;
    font-family: inherit;
    text-transform: uppercase;
    transition: 0.5s color;
}

.filter-btn.mixitup-control-active {
    color: var(--text-color);
}

.portfolio-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}

.prt-card {
    border-radius: 15px;
    overflow: hidden;
    background-color: var(--bg--color-2);
    height: 256px;
    display: grid;
    grid-template-rows: 1fr auto;
    transition: 0.5s background-color;
}

.prt-image {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.prt-image img {
    width: 100%;
    /* height: 100%;
object-fit: cover; */
}

.prt-desc {
    padding: 1.1rem 1.6rem;
    display: flex;
    justify-content: space-between;
}

.prt-desc h3 {
    font-size: 0.95rem;
    color: var(--heading-color);
    font-weight: 600;
    text-transform: capitalize;
}

.prt-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    backdrop-filter: blur(0px);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    transition: 0.5s;
}

.prt-icon {
    color: hsl(var(--hue-1), 61%, 24%);
    font-size: 1.5rem;
    margin: 0 0.4rem;
    background-color: var(--main--color-2-dark-2);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: translateY(15px);
    opacity: 0;
    transition: 0.3s;
}

.prt-image:hover .prt-overlay {
    pointer-events: auto;
    background-color: var(--bg--color-transparent);
    backdrop-filter: blur(10px);
}

.prt-icon:hover {
    background-color: var(--main--color-2-dark-1);
    color: var(--main--color-2);
}

.prt-image:hover .prt-icon {
    opacity: 1;
    transform: translateY(0px);
    transition: 0.3s var(--i);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 11;
    pointer-events: none;
}

.modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    opacity: 0;
    transition: 0.3s;
}

.slider-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 400px));
    width: 90%;
    max-width: 900px;
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    align-items: center;
    justify-items: center;
    opacity: 0;
    transition: 0.2s;
}

.slider-wrap img {
    width: 100%;
    display: none;
    border-radius: 10px;
}

.navigation {
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    padding: 2rem;
}

.slider-wrap img.showImage {
    display: block;
}

.portfolio.open .modal {
    pointer-events: auto;
}

.portfolio.open .modal-overlay {
    opacity: 1;
    /* transition: 0.5s; */
}

.portfolio.open .container {
    transform: scale(0.9);
}

.portfolio.open .slider-wrap {
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: 0.45s 0.1s;
}


/* ----- Testimonials Section Styling------ */

.testimonials {
    padding: var(--section-padding) 0 calc(var(--section-padding) + 120px);
}

.testimonials .container {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    align-items: center;
}

.swiper {
    width: 100%;
    background-color: var(--bg--color-2);
    border-radius: 15px;
    padding: 4rem 0 2.5rem;
    transition: 0.5s background-color;
}

.swiper-slide {
    padding: 0 2.5rem;
}

.swiper-slide .text {
    display: block;
    margin: 1.5rem 0 0;
}

.swiper-pagination {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 11px;
    margin-top: 3rem;
}

.swiper-pagination-bullet {
    background-color: var(--main-color-1);
    opacity: 0.3;
    width: 7px;
    height: 7px;
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    width: 11px;
    height: 11px;
}

.testimonials-title {
    padding-left: 5rem;
}

.testimonials-title>* {
    color: #fff;
}

.section-background {
    position: absolute;
    width: 100vw;
    max-width: 75rem;
    top: 15px;
    left: 50%;
    transform: translateX(calc(-50% + 120px));
    height: calc(100% + 120px);
    background: rgb(223, 225, 235);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background-image: linear-gradient( 45deg, rgb(186, 186, 253) 0%, hsl(242deg 61% 76%) 11%, hsl(243deg 48% 65%) 22%, hsl(245deg 39% 56%) 33%, hsl(246deg 38% 47%) 44%, hsl(248deg 45% 39%) 56%, rgb(52, 38, 120) 67%, hsl(251deg 62% 24%) 78%, hsl(253deg 72% 18%) 89%, hsl(254deg 83% 12%) 100%);
    z-index: -1;
}

.section-background .person {
    position: absolute;
    height: 200px;
    bottom: 28px;
    right: 891px;
    top: 420px;
}

.person-second {
    position: absolute;
    height: 700px;
    bottom: 0;
    right: 0;
    top: 80px;
}

.person-three {
    position: absolute;
    height: 200px;
    bottom: 28px;
    right: 470px;
    top: -94px;
}

.person-four {
    position: absolute;
    height: 200px;
    bottom: 28px;
    right: 314px;
    top: -350px;
}

.section-background .circle {
    position: absolute;
    width: 170px;
    left: 45%;
    top: 79%;
    transform: translate(-50%, -50%);
}

.section-background .square {
    position: absolute;
    left: 77%;
    top: 15%;
    transform: translate(-50%, -50%);
}

.client {
    display: grid;
    grid-template-columns: 85px 1fr;
    align-items: center;
    gap: 1.5rem;
}

.client img {
    width: 100%;
}

.client-info h4 {
    font-weight: 500;
    color: var(--heading-color);
    margin-bottom: 0.3rem;
    font-size: 1.05rem;
    transition: 0.5s background-color;
}

.client-info h5 {
    color: var(--text-color);
    font-weight: 500;
    font-size: 0.8rem;
    transition: 0.5s color;
}

.client-info h5 a {
    color: var(--main-color-1);
}


/* ----- Contact Section Styling------ */

.contact .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 2rem;
}

.mail {
    color: var(--main-color-1);
    font-weight: 500;
    font-size: 1.1rem;
}

.mail i {
    display: inline-block;
    font-size: 1.5rem;
    margin-left: 2px;
    transform: translateY(3px);
    transition: 0.3s margin-left;
}

.mail:hover {
    color: var(--main-color-dark-1);
}

.mail:hover i {
    margin-left: 10px;
}


/* input */

.contact-form {
    background-color: var(--bg--color-2);
    border-radius: 20px;
    padding: 3.5rem;
    display: flex;
    flex-direction: column;
    transition: 0.5s background-color;
}

.contact-form h3 {
    color: var(--heading-color);
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    line-height: 0.9;
    transition: 0.5s color;
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 190px;
}

.input {
    width: 300px;
    height: 50px;
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: var(--text-color);
    padding: 0.2rem 0;
    outline: none;
    background-color: transparent;
    color: var(--heading-color);
    transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    font-family: inherit;
    font-size: 1.3rem;
    font-weight: 900;
}

.input:focus,
input:hover {
    outline: none;
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    border-color: var(--heading-color);
}

.input::placeholder {
    color: #777;
    font-size: 1rem;
    font-family: inherit;
}

.input:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s;
}

textarea {
    display: inline-block;
    padding: 0.9rem 1.5rem;
    background: var(--bg--color-3);
    border: 2px solid var(--bg--color-3);
    width: 100%;
    border-radius: 17px;
    font-family: inherit;
    font-size: 0.85rem;
    font-weight: 900;
    color: var(--heading-color);
    outline: none;
    padding: 15px 0;
    resize: none;
    min-height: 170px;
}

textarea::placeholder {
    color: var(--text-color);
}

.contact .square {
    width: 200px;
    position: absolute;
    left: 15%;
    bottom: -292px;
    transform: translate(-50%, -50%);
}

.contact .triangle {
    position: absolute;
    left: 90%;
    bottom: -15px;
    transform: translate(-50%, -50%);
}


/*  */


/* ----- Subscription Section Styling------ */

.subscription {
    overflow: hidden;
}

.sub-box {
    background-color: var(--bg--color-2);
    padding: 3rem;
    width: 100%;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6rem;
    align-items: center;
    transition: 0.5s background-color;
}

.sub-box .heading {
    font-size: 2rem;
    margin-top: 2rem;
}

.sub-box form {
    display: grid;
}

.subscription .map {
    position: absolute;
    height: 150%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: -1; */
    opacity: 0.5;
}

.subscription .square {
    width: 200px;
    position: absolute;
    left: 109%;
    bottom: -54%;
    transform: translate(-50%, -50%) scale(0.95);
}

.subscription .triangle {
    width: 200px;
    position: absolute;
    /* left: 0%; */
    bottom: -51%;
    transform: translate(-50%, -50%) scale(0.95);
}


/* -----------Footer Styling------ */

.footer {
    padding: 4rem 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


/*  */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.wrapper {
    display: inline-flex;
    list-style: none;
}

.wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ff0f0f;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #1877f2;
    color: #ffffff;
}

.wrapper .link:hover,
.wrapper .link:hover .tooltip,
.wrapper .link:hover .tooltip::before {
    background: #1da1f2;
    color: #ffffff;
}

.wrapper .insta:hover,
.wrapper .insta:hover .tooltip,
.wrapper .insta:hover .tooltip::before {
    background: #e4405f;
    color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
    background: #333333;
    color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
    background: #cd201f;
    color: #ffffff;
}

i {
    color: var(--text-color);
}


/* canvas */

@media (min-width: 1100px) {
    section {
        display: block;
        position: absolute;
        /*             bottom: 50px;
        left: 50px; */
    }
}


/* Show only on touchscreen devices */

@media (pointer: coarse) {
    .btn-group,
    #VR {
        visibility: visible;
    }
    .hide {
        visibility: hidden;
    }
}


/* clock */

.clock {
    position: relative;
    justify-items: center;
    display: flex;
    font-size: 2em;
    line-height: 1;
    bottom: 30px;
}

.clock__digit {
    font-weight: bold;
}

.clock {
    width: 200px;
    height: 200px;
    position: relative;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 50%;
    margin: 50px auto;
}

.outer-clock-face {
    right: 6%;
    top: 6%;
    background: #d8cfd0;
    position: absolute;
    overflow: hidden;
    width: 175px;
    height: 175px;
    border-radius: 100%;
}

.outer-clock-face::after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}

.outer-clock-face::after,
.outer-clock-face::before,
.outer-clock-face .marking {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background: var(--heading-color);
    z-index: 0;
    left: 49%;
}

.outer-clock-face .marking {
    background: var(--text-color);
    width: 3px;
}

.outer-clock-face .marking.marking-one {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    transform: rotate(30deg);
}

.outer-clock-face .marking.marking-two {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg);
}

.outer-clock-face .marking.marking-three {
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    transform: rotate(120deg);
}

.outer-clock-face .marking.marking-four {
    -webkit-transform: rotate(150deg);
    -moz-transform: rotate(150deg);
    transform: rotate(150deg);
}

.inner-clock-face {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: var(--text-color);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    z-index: 1;
}

.inner-clock-face::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    border-radius: 18px;
    margin-left: -9px;
    margin-top: -6px;
    background: var(--heading-color);
    z-index: 11;
}

.hand {
    width: 50%;
    right: 50%;
    height: 6px;
    background: var(--heading-color);
    position: absolute;
    top: 50%;
    border-radius: 6px;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hand.hour-hand {
    width: 30%;
    z-index: 3;
}

.hand.min-hand {
    height: 3px;
    z-index: 10;
    width: 45%;
}

.hand.second-hand {
    background: #faf7f4;
    width: 45%;
    height: 2px;
    z-index: 1;
}


/* iframe */

.phone {
    position: relative;
    width: 319px;
    height: 300px;
    border-radius: 50px;
    top: -60px;
    left: -31px;
}

.boots {
    position: absolute;
    width: 319px;
    height: 300px;
    border-radius: 50px;
    top: 0px;
    left: 0px;
}


/* thanks */

.thankyou_message {
    display: none;
}

.thanks {
    top: 50px;
    left: 60px;
    text-align: center;
    font-size: 5vw;
    position: relative;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1;
    color: transparent;
}

.thanks:before {
    outline: none;
}

.thanks::before,
.thanks::after {
    content: attr(data-heading);
    position: absolute;
    top: 0;
    left: 0;
}


/* // Clip path to slice the text. */

.thanks::before {
    color: var(--heading-color);
    clip-path: polygon(0% 100%, 100% 100%, 100% 40%, 0 60%);
}

.thanks::after {
    color: var(--text-color);
    clip-path: polygon(0 0, 100% 0%, 100% 36%, 0 56%);
    animation: slide 5s infinite;
}


/* // Move it. */

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translate(-20px, 2%);
    }
}


/* count */

h2 {
    font-size: 50px;
    margin: 0;
}

p {
    color: rbga(255, 255, 255, 0.8);
    letter-spacing: 2px;
    margin: 0;
}


/*------1000px Screens------*/

@media (max-width: 1000px) {
    .sub-heading {
        font-size: 0.5rem;
    }
    .heading {
        font-size: 2rem;
    }
    .showcase-area .heading {
        font-size: 2.5rem;
    }
    .text {
        font-size: 0.74rem;
        margin: 1.3rem 0;
    }
    .animated-button9 {
        font-size: 0.74rem;
        padding: 0.8rem 1.6rem;
        min-width: 100px;
    }
    button {
        font-size: 0.64rem;
    }
    .form-input {
        padding: 0.8rem 1.45rem;
        border-radius: 15px;
        font-size: 0.7rem;
    }
    .logo {
        font-size: 1.45rem;
    }
    header .logo {
        height: 100px;
        line-height: 100px;
    }
    .nav-links {
        font-size: 0.7rem;
    }
    .showcase-area {
        padding: 100px 0;
    }
    .showcase-area .container {
        grid-template-columns: 1fr 400px;
        height: 450px;
    }
    .skills-box {
        padding: 4rem;
    }
    .sk-progress {
        /* right: 55px; */
        transform: scale(0.65);
    }
    /* .sk-title {
        padding-right: 107px
    } */
    .services .container {
        column-gap: 2.5rem;
    }
    .contact .container {
        column-gap: 2.5rem;
    }
    .contact-form {
        padding: 2.5rem 2rem;
    }
    .contact-form h3 {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .contact .form-input {
        margin-bottom: 0.7rem;
    }
    .sub-box {
        padding: 3.5rem 2.5rem;
        column-gap: 2rem;
    }
    .filter-btn {
        font-size: 0.7rem;
    }
}


/*------ 768px Screens------*/

@media (max-width: 768px) {
     :root {
        --section-padding: 4rem;
    }
    /* .circle {
        height: 180px;
    } */
    .triangle {
        width: 75px;
    }
    .dots {
        padding-left: 4%;
        /* padding-left: 39px; */
        /* height: 150px; */
    }
    /* .square { 
         width: 40px;
        height: 80px; 
     }  */
    .map {
        padding-top: 238px;
        padding-bottom: 121px;
    }
    .sub-box {
        left: 50px;
    }
    .subscription .triangle {
        padding-top: 148px;
        padding-left: 27px;
    }
    .subscription .square {
        left: 660px;
        bottom: -150px;
    }
    .contact .square {
        width: 150px;
        bottom: -170px;
    }
    .shape .square {
        padding-left: 15px;
    }
    /* .srv-card {
        width: 216px;
        padding: 3rem 0.5rem;
    } */
    .section-background {
        width: 83vw;
    }
    .hamburger {
        display: block;
    }
    header {
        background-color: var(--bg--color-2);
    }
    header nav {
        justify-content: space-between;
    }
    .links {
        order: 3;
        flex-basis: 100%;
        /*------>
        ------>/* width: 100%; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 0 2rem;
        opacity: 0;
        transition: 0.3s;
    }
    .links ul {
        flex-direction: column;
        position: relative;
    }
    .nav-links {
        margin: 1.5rem 0;
        color: var(--heading-color);
        font-weight: 500;
    }
    .toggle-btn {
        margin: 0;
    }
    .links ul::after {
        content: "";
        position: absolute;
        width: 0%;
        height: 0.5px;
        background-color: var(--heading-color);
        opacity: 0;
        top: -0.5rem;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s;
    }
    .overlay {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 6;
        opacity: 0;
        transition: 0.3s;
        pointer-events: none;
    }
    header {
        height: 505px;
        max-height: 100px;
        overflow: hidden;
    }
    header .scrolled {
        height: 485px;
        max-height: 80px;
    }
    body.open header {
        max-height: 505px;
    }
    .text {
        font-size: 16px;
    }
    body.open header {
        max-height: 505px;
        background-color: var(--bg--color-2);
    }
    body.open .overlay {
        opacity: 1;
        pointer-events: auto;
    }
    body.open .links ul::after {
        opacity: 0.7;
        width: 100%;
    }
    body.open header.scrolled {
        max-height: 485px;
    }
    body.open .links {
        opacity: 1;
    }
    .showcase-area .container {
        grid-template-columns: 1fr;
        height: revert;
        justify-items: center;
        row-gap: 4rem;
        /* left: 180px; */
    }
    .showcase-image {
        min-height: revert;
        height: 150vw;
        max-height: 570px;
        max-width: 450px;
        margin-top: 0px;
        /* border-radius: 40px; */
    }
    .showcase-info {
        width: 100%;
        margin-top: 1rem;
    }
    .showcase-area .text {
        margin: 0.2rem 0;
    }
    .cta {
        margin-top: 1rem;
    }
    .showcase-area .circle {
        width: 120px;
        left: 50px;
    }
    .showcase-area .square {
        width: 100px;
        left: 80%;
        top: 23.5%;
    }
    .about .container {
        grid-template-columns: 1fr;
        /* justify-items: center;
        row-gap: 2rem; */
        /* left: 180px; */
    }
    .about-grid {
        order: 3;
    }
    .heading br {
        display: none;
    }
    .about .text {
        margin: 1rem 0 1.5rem;
    }
    .about-grid {
        grid-template-columns: 150px 150px;
        grid-template-rows: 150px 150px;
        margin: 2.5rem 0 0 0;
        column-gap: 1rem;
        row-gap: 80px;
    }
    .icon {
        width: 50px;
    }
    .about-card h3 {
        font-size: 0.8rem;
        margin-top: 0.5rem;
    }
    .about-grid::before {
        width: 150px;
        height: 150px;
        border-width: 10px;
    }
    .box-desc {
        grid-template-columns: 1fr;
        justify-items: flex-start;
    }
    .skills-wrap {
        grid-template-columns: repeat(2, 150px);
        row-gap: 1rem;
    }
    .sk-title {
        margin-top: 0;
    }
    .services .container {
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: 2rem;
    }
    .services .text {
        margin: 1.5rem 24px 0.5rem;
    }
    .services-grid {
        grid-template-columns: 1fr;
        margin-top: 3.5rem;
        column-gap: 1.5rem;
        row-gap: 20px;
        justify-items: center;
        max-width: 600px;
        bottom: 30px;
    }
    .srv-card {
        padding: 2.2rem 0.5rem;
        min-height: 300px;
        transform: none !important;
    }
    .phone {
        width: 320px;
    }
    .boots {
        width: 320px;
    }
    .visitor {
        font-size: 20px;
        justify-items: center;
    }
    .visitor-p {
        font-size: 40px;
        justify-items: center;
    }
    body.dark .visitor-p {
        font-size: 40px;
        justify-items: center;
    }
    .srv-card h3 {
        font-size: 0.9rem;
    }
    .srv-card .text {
        margin: 1.6rem 24px 0.8rem;
    }
    /* .square {
        display: none;
    } */
    .dots {
        display: none;
    }
    .portfolio-title {
        padding-bottom: 0;
    }
    .testimonials {
        padding: var(--section-padding) 0;
    }
    .testimonials .container {
        position: revert;
        grid-template-columns: 1fr;
        max-width: 400px;
    }
    .section-background {
        transform: translateX(0);
        left: 65px;
        top: 10px;
        height: 100%;
        background-image: linear-gradient( 45deg, rgb(186, 186, 253) 17%, hsl(242deg 61% 76%) 11%, hsl(243deg 48% 65%) 22%, hsl(245deg 39% 56%) 33%, hsl(246deg 38% 47%) 44%, hsl(248deg 45% 39%) 56%, rgb(52, 38, 120) 67%, hsl(251deg 62% 24%) 78%, hsl(253deg 72% 18%) 89%, hsl(254deg 83% 12%) 100%);
    }
    .section-background .person-three,
    .section-background .person-four,
    .section-background .circle {
        display: none;
    }
    .section-background .person-second {
        height: 200px;
        top: 900px;
    }
    .section-background .person {
        height: 200px;
        top: 900px;
    }
    .swiper {
        order: 2;
        padding: 2rem 0;
    }
    .testimonials-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 0 3rem 0;
    }
    .swiper-slide {
        padding: 0 2rem;
    }
    .swipe-slide .text {
        margin: 1.5rem 0 0;
    }
    .client {
        grid-template-columns: 65px 1fr;
    }
    .client-info h4 {
        margin-bottom: 0.2rem;
        font-size: 0.97rem;
    }
    .client-info h5 {
        font-size: 0.7rem;
    }
    .section-background .square {
        left: 86%;
        top: 12%;
        width: 60px;
    }
    .contact .container {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }
    .contact .square {
        width: 60px;
        bottom: 68%;
        left: 75%;
    }
    .sub-box {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
    .sub-box .heading {
        margin-top: 0rem;
    }
    .subscription .square {
        width: 80px;
        bottom: 5%;
        left: 90%;
    }
}


/*------ 500px Screens------*/

@media (max-width: 500px) {
    .container {
        padding: 0 1rem;
    }
    .showcase-area .square {
        display: none;
    }
    .showcase-area .container {
        row-gap: 4.5rem;
    }
    .showcase-area .heading {
        font-size: 2.4rem;
    }
    .skills-box {
        padding: 3rem 2.5rem;
    }
    .skills-wrap {
        grid-template-columns: 1fr;
        row-gap: 1.5rem;
    }
    .services-grid {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .srv-card {
        transform: none !important;
        min-height: auto;
    }
    .portfolio-header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .portfolio-title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .filter-btns {
        margin-top: 1rem;
    }
    .phone {
        width: 320px;
        height: 253px;
    }
    .boots {
        width: 320px;
        height: 253px;
    }
    .portfolio .slider-wrap {
        width: calc(100% - 2rem);
        grid-template-columns: 50px 1fr 50px;
    }
    .images {
        grid-column: 1/4;
        grid-row: 1/2;
    }
    .prev-btn {
        grid-column: 1/2;
        grid-row: 1/2;
        z-index: 1;
    }
    .next-btn {
        grid-column: 3/4;
        grid-row: 1/2;
        z-index: 1;
    }
    .contact-form p {
        font-size: 1.2rem;
    }
    .sub-box {
        padding: 3rem 2.2rem;
        row-gap: 0.5rem;
    }
    .subscription .triangle {
        top: 89%;
        left: 79%;
    }
    .sub-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .sub-box .heading {
        font-size: 1.7rem;
    }
    .subscription .square {
        display: none;
    }
    .subscription form {
        grid-template-columns: 1fr;
        row-gap: 10px;
    }
    footer {
        padding: var(--section-padding) 0 1rem;
    }
    footer .text {
        order: 1;
        flex-basis: 100%;
        text-align: center;
        margin-top: 1rem;
    }
    footer .wrapper {
        margin-top: 1rem;
        margin-left: 13%;
    }
    footer .logo {
        margin-left: 40%;
    }
}
